<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.fhoster.org.eclipse.wst.jsdt.debug.core.launchingConnectors">
      <connector
            class="com.fhoster.org.eclipse.wst.jsdt.debug.node.internal.launching.NodeLaunchConnector"
            id="com.fhoster.org.eclipse.wst.jsdt.debug.node.launching.connector">
      </connector>
   </extension>
   <extension
         point="com.fhoster.org.eclipse.wst.jsdt.debug.core.launchingConnectors">
      <connector
            class="com.fhoster.org.eclipse.wst.jsdt.debug.node.internal.launching.NodeAttachConnector"
            id="com.fhoster.org.eclipse.wst.jsdt.debug.node.attaching.connector">
      </connector>
   </extension>
   <extension
         point="com.fhoster.org.eclipse.wst.jsdt.debug.core.launchingConnectors">
      <connector
            class="com.fhoster.org.eclipse.wst.jsdt.debug.node.internal.launching.NodeListenConnector"
            id="com.fhoster.org.eclipse.wst.jsdt.debug.node.listening.connector">
      </connector>
   </extension>

</plugin>
