<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.fhoster.org.eclipse.wst.jsdt.debug.core.launchingConnectors">
      <connector
            class="com.fhoster.org.eclipse.wst.jsdt.debug.internal.jsd2.connect.JSD2AttachingConnector"
            id="com.fhoster.org.eclipse.wst.jsdt.debug.jsd2.attaching.connector">
      </connector>
   </extension>

</plugin>
